$colors: (
  "common": (
    "white": #ffffff,
    "black": #000,
    "black-1": #010f1c,
  ),
  "grey": (
    "1": #ffffff,
    "2": #84807b,
    "3": #55585b,
    "4": #efede7,
    "5": #636366,
    "6": #4f5158,
  ),
  "red": (
    "1": #af0e2e,
    "2": #c41230,
    "3": #b70a14,
  ),
  "blue": (
    "1": #f1f3f9,
  ),
  "heading": (
    "primary": #161613,
    "2": #031f42,
    "3": #0a1d3a,
    "4": #161821,
  ),
  "text": (
    "body": #57595f,
  ),
  "theme": (
    "primary": #0079c0,
    "secondary": #1a73e8,
    "3": #ff7162,
    "4": #b1040e,
    "5": #f0ec51,
    "6": #1e1e2f,
    "7": #4661fd,
    "8": #006b61,
  ),
  "dashboard": (
    "primary": #556df5,
    "secondary": #5169f1,
    "3": #5b7d55,
    "danger": #ff4d4f,
    "sucess": #0f9f55,
    "warning": #f59b12,
    "info": #5974ff,
  ),
  "border": (
    "primary": #eaebed,
    "2": #e4e2dc,
  ),
);

$white: #fff;
$black: #000;
$theme-primary: #0079c0;
$border-primary: #eaebed;
